:root {
    --card-width: 15vw;
    --card-height: 15vh;
    --card-pop: 4vh;
}

#deck-btn {
    cursor: pointer;
}

.player-spot {
    display: flex;
    justify-content: center;
}

.opponent-spot {
    display: flex;
    justify-content: center;
}

.center {
    position: absolute;
    top: 45vh;
    left: 45vw;
    display: flex;
    justify-content: center;
}

.center .deck {
    margin-right: 3vw;
}

.bottom {
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
}

.top {
    position: absolute;
    top: 40px;
    display: flex;
    justify-content: center;
}

.card {
    margin-left: -2vw;
    max-width: var(--card-width);
}

.card-body {
    height: var(--card-height);
    background-color: black;
    box-shadow: 2px 2px 2px 2px rgb(188, 187, 187);
    border-radius: 4px;
    width: 8rem;
    max-width: 8rem;
    overflow-wrap: break-word;
}

.opponent-card .card-body {
    background-color: black;
}

.opponent-card .card-body .card-title {
    font-size: 200%;
}

.deck .card-body {
    background-color: black;
}

.deck .card-body .card-title {
    font-size: 200%;
}

.player-card:hover {
    margin-top: calc(var(--card-pop) * -1);
    margin-bottom: var(--card-pop);
}

.card-title {
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 0 black;
}

.wildPopup {
    position: relative;
    text-align: center;
    width: 100%;
}

.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #0a0a0a;
    z-index: 9;
}

.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}

.formContainer .green {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.formContainer .blue {
    padding: 12px 20px;
    border: none;
    background-color: #3f9de0;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.formContainer .yellow {
    padding: 12px 20px;
    border: none;
    background-color: #dee03f;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.formContainer .red {
    padding: 12px 20px;
    border: none;
    background-color: #e03f3f;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}